<h1>Topics</h1>
<div class="row">
  <div class="col-md-8">
    <% @topics.each do |topic| %>
      <h4><%= link_to topic.title, topic %></h4>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= link_to "New Topic", new_topic_path, class: "btn btn-block btn-lg btn-success" %>
  </div>
</div>